* {
    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&family=Roboto:wght@300&display=swap");
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
      
      }
      #top{
        height: 25px;
        width: auto;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        background-color: black;
        color: #ffffff;
        padding-top: 15px;
        cursor: pointer;
        /* font-family: poppins; */
    }
    /* navbar section */
    #navbar{
        height: 70px;
        width: auto;
          /* background-color: #333333;   */
        justify-content: space-around;
        align-items: center;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
    }
    .subscribe{
        color: #e5b95f;
        font-size: 18px;
        padding: 0px 17px 25px 0px;
        position: relative;
        top: 14px;
        right: 120px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        
    }
    img{
        height: 50x;
        width: 188.56px;
        cursor: pointer;
    }
    .search i{
        height: 16px;
        width: 16px;
        color: #e5b95f;
        padding: 0x 10px;
        font-size: 16px;
        margin: 20px;
        position: relative;
        left: 120px;   
        cursor: pointer;
    }
    
    #form {
      width: 380px;
    
      margin: 3% auto;
      padding: 3%;
      background: white;
    }
    #form>h1{
        color: #161616;
        text-align: center;
        
    }
    /* social media button style */
    #social-login{
        margin-top: 20px;
    }
    .facebook {
        
        text-decoration: none;
        color: white;
        padding: 10px 0px 10px 0px;
        background: linear-gradient(90deg, #3b5998 89%, #4765a8 10%);
        border-radius: 4px;
        margin-bottom: 8px;
    
    }
    
    .google {
        padding: 10px 0px 10px 0px;
        background: linear-gradient(90deg, #dd4b39 89%, #d26a5d 10%);
        border-radius: 4px;
        margin-bottom: 30px;
    }
    
    .facebook>a {
        color: white;
        text-decoration: none;
     margin-right: 185px;
     margin-left: 15px;
    }
    
    .google>a {
        color: white;
        text-decoration: none;
        margin-right: 200px;
        margin-left: 15px;
        
    }
    /* input data */
    input {
        display: block;
        margin: 10px 0px;
        width: 100%;
        height: 40px;
        /* padding: 2%; */
      }
      
    label{
        margin-left: 0px;
        text-align: left;
        
        color: #7A7A7A;
        }
       /*form submit  */
       #datastore{
           margin-top: 4%;
       }
    #submit{
        background-color: #E5b95F;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border: 0px;
        margin-bottom: 30px;
    }
    #submit:hover{
        background-color: black;
        color: white;
    }
    #sign-up{
        background-color: #E5b95F;
        color: #252525;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border: 0px;
        margin-top: 20PX;
    
    }
    #sign-up:hover{
        background-color: black;
        color: white;
    }
    em{
        color: rgb(255, 0, 0);
    }
    .orOrigin {
        border-top: 1px solid #aaa;
        text-align: center;
        margin: 15px 20px;
        z-index: -2;
    }
    
    .overLayer {
        margin: -26px 160px 0px 160px;
        background-color: rgb(255, 255, 255);
    }

    p {
        display: block;
        
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: center;
    }
    
    footer{
        width: 100%;
        /* height: 548px; */
        padding: 80px 0px 35px;
        font-size: 14px;
        color: #7d7d7d;
        background-color: #ffffff;
        /* display: flex;
        justify-content: center; */
        
    }
    #footer-container{
        /* height: 500px;
        width: auto; */
        /* background-color: rgb(201, 94, 94); */
        /* padding: 100px; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    /* .footer{
        display: block;
        font-size: 14px;
        padding-right: 100px;
        
    } */
    .information{
        width: 360px;
        height: 30px;
        font-size: 18px;
        padding: 0px 0px 10px;
        color: #222;
    }
    .content{
        padding: 0px 0px 20px;
        color: #7d7d7d;
        width: 360px;
        height: 300px;
        font-size: 14px;
    }
    .content li a{
         text-decoration: none;
         height: 30px;
         width: 360px;
         color: #7d7d7d;
         font-size: 14px;
     }
    
    .content li a span{
       /* text-decoration: none; */
       height: 20px;
       width: 138.91px;
       font-size: 14px;
        color: #7d7d7d;
        /* font-family: poppins; */
    }
    li{
        list-style: none;
        margin-bottom: 16px;
        /* text-decoration: none; */
    }
    .customercare{
        width: 390px;
        height: 144.25px;
        color: #7d7d7d;
        font-size: 14px;
        margin-top: 10px;
    }
    b{
        width: 114.2px;
        height: 21px;
        font-size: 15px;
        color: #7d7d7d;
        text-decoration: none;
    }
    .customercare h5{
        width: 360px;
        height: 37.5px;
        color: #7d7d7d;
        font: 15px;
        margin: 0px 0px 22.5px;
       
    }
    .customercare span{
        width: 244.02px;
        height: 21px;
        font-size: 15px;
        color: #7d7d7d;
       
    }
    
    .detail,b,a,h5{
        color: #7d7d7d;
        text-decoration: none;
        /* font-size: 14px; */
    }
    .newsletter{
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 50px); */ 
        display: block;
        width: 390px;
        height: 263px;
        font-size: 14px;
        /* padding: 0px 15px; */
        color: #7d7d7d;
       
    }
    .newsletter span{
        width: 274.46px;
        height: 17px;
        color: #7d7d7d;
        font-size: 12px;
        
        
    
    }
    #btn{
        height: 35px;
        width: 27%;
        margin: 5px 5px 0px -1px;
        padding: 0px 16px;
        border-radius: 8px;
        color: white;
        background-color: #e5b95f;
        border: none;
       
    }
    #btn:hover{
        background-color: #161616;
        color: white;
    }
    #email-sub{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    #email_foot{
        width: 55%;
        height: 35px;
        margin: 4px 0px 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 7px;
        border: none;
       
    }
    .spam{
        width: 165.73px;
        height: 17px;
        color: #7d7d7d;
        font-size: 12px;
      
    }
    .content>li>a>span:hover{
        color: #E5b95F;
    }
    
    .contactemail>a:hover{
        color: #E5b95F;
    }
    /* social media */
    
    
    .socialmedia{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socialmedia a{
        height:50px;
        width: 50px;
        border-radius: 50px;
        text-align: center;
        margin: 10px;
        box-shadow: 1px 2px 1px 1px;
        line-height: 58px;
    }
    .socialmedia a i{
        font-size: 16px;
        transition: all 0.3s linear;
    }
    .socialmedia a:hover i{
        transform: scale(1.4);
    }
    #facebook:hover{
        background-color: blue;
    }
    #twitter:hover{
        background-color: rgb(40, 146, 181);
    }
    #instagram:hover{
        background-color: rgb(102, 7, 16);
    }
    #youtube:hover{
        background-color: red;
    }
    .disclaimer{
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        color: #7d7d7d;
    }