@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins" sans-serif;
}
.show {
  width: 100%;
  height: 25px;
  background-color: black;
  padding-top: 25px;
}

.top {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  font-family: "poppins";
}

/* user section start */

.action {
  position: fixed;
  top: 55px;
  right: 30px;
}
.action .profile {
  /* position:relative; */
  width: 60px;
  height: 60px;
  overflow: hidden;
  cursor: pointer;
}
.action .profile i {
  position: absolute;
  top: 0;
  left: 26px;
  right: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .menu::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.action .menu {
  position: absolute;
  top: 50px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  box-sizing: 0 5px 25px;
  border-radius: 16px;
  transition: 0.5s;
  width: 140px;
  visibility: hidden;
  opacity: 0;
}
.action .menu.active {
  visibility: visible;
  opacity: 1;
  top: 50px;
}
.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  direction: flex;
  align-items: center;
  justify-content: center;
}
.action .menu ul li:hover {
  opacity: 1;
}
.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li:hover a {
  color: #ff5d94;
}

/*user section end */
/* navbar section */
#navbar {
  height: 70px;
  width: auto;
  /* background-color: #333333;   */
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}
.subscribe {
  color: #e5b95f;
  width: 180px;
  height: 25px;
  font-size: 18px;
  padding: 0px 17px 25px 0px;
  position: relative;
  top: 14px;
  right: 60px;
  font-weight: bold;
  cursor: pointer;
}
/* .subscribe:hover{
    color: black;
} */
#navbar img {
  height: 50x;
  width: 188.56px;
  cursor: pointer;
}
.search i {
  height: 16px;
  width: 16px;
  color: #e5b95f;
  padding: 0x 10px;
  font-size: 16px;
  margin: 20px;
  position: relative;
  left: 120px;
  cursor: pointer;
}

/* slide image */

#Bigmain {
  width: 100%;
  height: 50%;
  margin: auto;
  margin-top: 50px;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid black; */
  /* ........................... */
  position: relative;
}
.banner {
  display: block;
  height: 550px;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}
.banner:hover {
  opacity: 0.5;
}
#Bigimg {
  width: 80%;
  height: 550px;
  margin: auto;
  height: 350px;
  position: absolute;
  align-items: center;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  /* color: rgb(8, 8, 8); */
  background-color: #f8efdb;
  padding: 8px 18px;
  /* border-radius: ; */
  font-size: 25px;
  font-weight: bold;
  color: rgb(100, 99, 98);
}
.arrow:hover {
  background-color: #e5b95f;
}
.next {
  right: 0px;
}
.prev {
  left: 0px;
}

/* what's in the bag */

.whatheading {
  text-align: center;
  /* border: 1px solid black; */
  margin-bottom: 0px;
}
.bagbox {
  display: flex;
  /* border: 1PX solid black; */
  margin-top: 40px;
}
.prod {
  height: 250px;
  width: 25%;
  /* border: 1px solid black; */
  margin: auto 20px;
}

.img:hover {
  opacity: 0.5;
}
p {
  text-align: center;
}

/* subscription */

#subsbox {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  /* align-items: center; */
}
#subsbox > div {
  /* border: 2px solid black; */
  margin: auto;
}

#Subscription {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  /* border: 2px solid black; */
}
.Subs1 {
  width: 282px;
  height: 498px;
  padding: 100px;
  padding-left: 200px;
}
.Subs2 {
  width: 282px;
  height: 498px;
  padding-right: 200px;
}
#Bags {
  display: flex;
  width: 100%;
  margin: auto;
  /* border: 2px solid black; */
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

#prevBag {
  margin-top: 40px;
  text-align: center;
}
#prevBag h3 {
  font-size: 36px;
  color: #222;
}
.bag {
  width: 100%;
  margin: auto 20px;
  /* border: 2px solid black; */
}
#Bags p {
  font-size: 14px;
  color: #222;
}

img {
  width: 100%;
}
hr {
  align-items: center;
  width: 25%;
  height: 2px;
  margin: auto;
  background: #e5b95f;
  border: none;
}
.Subs1 > div,
.Subs2 > div {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 30px);
  /* border: 2px solid black; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Subs1 > div > div,
.Subs2 > div > div {
  display: grid;
  grid-template-rows: 20px;
  margin-bottom: 0px;
  grid-template-columns: 100%;
}
.BTN {
  /* border: 1px solid black; */
  background-color: #e5b95f;
  color: white;
  align-items: center;
  /* height: px; */
}
button {
  background-color: #e5b95f;
  color: white;
  /* margin-bottom: 0px; */
  border: none;
  height: 30px;
  text-align: center;
  align-items: center;
}
h4 {
  color: #e5b95f;
}
.BTN1 {
  /* padding-bottom: 0px; */
  /* margin-bottom:0px ; */
  margin-top: 38px;
  background-color: #e5b95f;
  height: 20px;
}
.chngcolor {
  margin-bottom: 0px;
}
.adcart1 {
  /* margin-bottom: 0px; */

  padding-bottom: 0px;
}
.adcart2 p {
  text-decoration: line-through;
}

/* product */

* {
  padding: 0;
  margin: 0;
}
/* * PRODUCTS */
*/ .product {
  position: relative;
  overflow: hidden;
  /* padding: 20px; */
  width: 100%;
}

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;

  width: 100%;
  margin: auto;
  border-radius: 50px;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  /* flex: 0 0 auto; */
  width: 300px;
  text-align: center;
  /* padding-left: 30px; */
  margin-left: 100px;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 130px;
  height: 100%;
  position: absolute;
  padding-top: 0px;
  display: block;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(240, 217, 17, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
  padding-left: 100px;
  margin-top: -250px;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
  color: #e5b95f;
}
.image {
  height: 250px;
  width: 250px;
  border: 4px solid #e5b95f;
  border-radius: 50px;
  margin: auto 20px;
}

/* instagram */
.instagram {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.insta {
  height: 175px;
  width: 25%;
  cursor: pointer;
}
.instacards {
  display: flex;
  margin-top: 20px;
}
.instagram h3 {
  font-size: 20px;
  color: #333;
}
.insta:hover {
  opacity: 0.2;
  cursor: pointer;
}

/* testimonials */

#testimonials {
  height: 100px;
  /* background-color: #e5b95f; */
  background: url(img/Testimonials.webp);
  margin-top: 40px;
}

#testimonials > h3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 30px;
  padding: 21px;
  font-size: 36px;
  font-family: roboto;
  padding-top: 40px;
  color: #222;
}

.swiper {
  width: 100%;

  height: 370px;
  background: url(img/Testimonials.webp);
}

.swiper-slider {
  width: 1500;
}

.swiper-slide p {
  height: 601px;
}
.text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 80px;
  /* padding: 0px 15px; */
  line-height: 25px;
  color: #222;
  font-family: "Poppins";
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: gray;
}
#quote1 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote2 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote3 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote4 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote5 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote6 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote7 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
#quote8 {
  font-size: 48px;
  color: #000;
  width: 48px;
  height: 48px;
}
.quote-icon {
  padding-bottom: 30px;
  height: 48px;
  width: 83px;
  padding-left: 660px;
}

/* trandingnow gossip */
#insta-feed {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  position: relative;
  height: 400px;
}
#insta-feed h2 {
  font-weight: 400;
  line-height: 1.25em;
}
#insta-feed a {
  border: none;
  position: static;
  display: inline;
  color: transparent;
  text-decoration: none;
  z-index: 999999;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  background-color: transparent;
}
.instafeed-container {
  width: 12.5%;
  height: 12.5%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  color: #ffffff;
}
.instafeed-container img {
  max-width: none;
  object-fit: cover;
  position: absolute;
  transform: initial;
  display: initial;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
  vertical-align: middle;
}
.instafeed-overlay {
  position: absolute;
  background-color: transparent;
  transition: all 0.2s linear;
}

/* sliding image */

.container1 {
  min-height: 100vh;
}
.slider {
  height: 250px;
  width: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: centre;
}

.slider-track {
  display: flex;
  width: calc(150px * 20);
  animation: scroll 40s linear infinite;
}

.slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  overflow: hidden;
  background-color: #e5b95f;
}
.slide img {
  width: 100%;
  transition: transform 1s;
}
.slide img:hover {
  transform: translateZ(20px);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

/* footer container */

footer {
  width: 100%;
  padding: 80px 0px 35px;
  font-size: 14px;
  color: #7d7d7d;
  background-color: #ffffff;
  font-family: "Poppins";
}
#footer-container {
  display: flex;
  justify-content: center;
}
.information {
  width: 360px;
  height: 30px;
  font-size: 18px;
  padding: 0px 0px 10px;
  color: #222;
}
.content {
  padding: 0px 0px 20px;
  color: #7d7d7d;
  width: 360px;
  height: 300px;
  font-size: 14px;
}
.content li a {
  text-decoration: none;
  height: 30px;
  width: 360px;
  color: #7d7d7d;
  font-size: 14px;
}

.content li a span {
  /* text-decoration: none; */
  height: 20px;
  width: 138.91px;
  font-size: 14px;
  color: #7d7d7d;
  font-family: "Poppins";
}
li {
  list-style: none;
  margin-bottom: 16px;
  /* text-decoration: none; */
}
.customercare {
  width: 390px;
  height: 144.25px;
  color: #7d7d7d;
  font-size: 14px;
  margin-top: 10px;
}
b {
  width: 114.2px;
  height: 21px;
  font-size: 15px;
  color: #7d7d7d;
  text-decoration: none;
}
.customercare h5 {
  width: 360px;
  height: 37.5px;
  color: #7d7d7d;
  font: 15px;
  margin: 0px 0px 22.5px;
}
.customercare span {
  width: 244.02px;
  height: 21px;
  font-size: 15px;
  color: #7d7d7d;
}

.detail,
b,
a,
h5 {
  color: #7d7d7d;
  text-decoration: none;
  font-family: "Poppins";
}
.newsletter {
  display: block;
  width: 390px;
  height: 263px;
  font-size: 14px;
  color: #7d7d7d;
}
.newsletter span {
  width: 274.46px;
  height: 17px;
  color: #7d7d7d;
  font-size: 12px;
  font-family: "Poppins";
}

#btn {
  height: 40px;
  width: 106.36px;
  margin: 0px 0px 0px -1px;
  padding: 0px 16px;
  border-radius: 10px;
  color: white;
  background-color: #e5b95f;
}
#email {
  width: 245px;
  height: 40px;
  margin: 0px 0px 0px -9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  font-family: "Poppins";
}
.spam {
  width: 165.73px;
  height: 17px;
  color: #7d7d7d;
  font-size: 12px;
  font-family: "Poppins";
}

/* social media */

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmedia a {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 2px 1px 1px;
  line-height: 58px;
}
.socialmedia a i {
  font-size: 16px;
  transition: all 0.3s linear;
}
.socialmedia a:hover i {
  transform: scale(1.4);
}
#facebook:hover {
  background-color: blue;
}
#twitter:hover {
  background-color: rgb(40, 146, 181);
}
#instagram:hover {
  background-color: rgb(102, 7, 16);
}
#youtube:hover {
  background-color: red;
}
.disclaimer {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #7d7d7d;
  font-family: "Poppins" sans-serif;
}
